img {
    width: 30%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

.container{
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
}


.tree-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.tree-center img {
    width: 90%;
}

.flex-container{
    display: flex;
    flex-direction: row-reverse;
}