img {
    width: 30%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #425b45;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #f9fee5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    background-color: #dbefe1;

}


ul li a:hover {
    background-color: #2b352c;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
}


.tree-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree-center img {
    width: 40%;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
}

p {
    color: #000000;
}

h1 {text-align: center;}
    
.links-for-criteria h2 {
    text-align: center;
background-color: #425b45;
color: #f9fee5;
padding-bottom: 20px;
margin: 10px 25%;
/*margin 1st num top bottom, second left right*/
}
    div {text-align: center;}

    
.links-for-criteria a:link {
        color: #f9fee5;

    }
